<div class="container-fluid">
  <app-pagetitle
    title="New Purchase Return"
    [breadcrumbItems]="breadCrumbItems"
  ></app-pagetitle>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <form
            id="editForm"
            [formGroup]="addPurchaseReturnForm"
            (ngSubmit)="AddProduct()"
          >
            <div class="form-row border-bottom">
              <div class="col">
                <label for="invoiceNo">Invoice Number</label>
                <input
                  type="text"
                  formControlName="invoiceNo"
                  class="form-control"
                  id="invoiceNo"
                  autocomplete="off"
                  required
                />
              </div>
              <div class="col">
                <label for="invoiceNo">Branch</label>
                <app-branch-input formControlName="branch"></app-branch-input>
              </div>
              <div class="col-md-4">
                <div class="d-flex justify-content-between">
                  <label for="partyId">Party </label>
                </div>
                <app-party-input
                  activetabIndex="(true)"
                  (onChangeHandler)="onChangeParty($event)"
                  formControlName="party"
                ></app-party-input>
              </div>
              <div class="col">
                <label for="saleDate">Date</label>
                <app-date-input
                  skipIndex="-1"
                  formControlName="date"
                ></app-date-input>
              </div>
              <div class="col">
                <label for="dueDate">Due Date</label>
                <app-date-input
                  skipIndex="-1"
                  formControlName="due"
                ></app-date-input>
              </div>
              <div class="col">
                <label for="taxType">Tax Type</label>
                <select
                  class="custom-select"
                  tabindex="-1"
                  formControlName="TaxType"
                  required
                >
                  <option *ngFor="let item of taxTypeList" [ngValue]="item">
                    {{ item }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-row pt-1">
              <div class="col-md-5">
                <label for="partyId">Product Item</label>
                <!-- <span *ngIf="model" class="product-show p-1">MRP: {{model.mrp}} | Rate: {{model.rate}} | Stock:
                  {{model.stock}}</span> -->
                <app-product-input
                  [disabled]="partyData.invalid"
                  (onChangeHandler)="onChangeProduct($event)"
                  formControlName="productData"
                ></app-product-input>
              </div>
              <div class="col-md-2">
                <label for="date">Batch Number</label>
                <select
                  formControlName="batchNumber"
                  (change)="onChangeBatchProduct()"
                  class="custom-select"
                  [disabled]="partyData.invalid"
                  required
                  tabindex="-1"
                >
                  <option
                    *ngFor="let role of batchProducts"
                    [ngValue]="role.batchNo"
                  >
                    {{ role.batchNo }}
                  </option>
                </select>
                <div class="invalid-feedback">Valid last name is required.</div>
              </div>
              <div class="col-md-2">
                <label for="expireDate">Expire Date</label>
                <app-date-input
                  skipIndex="-1"
                  [disabled]="partyData.invalid"
                  formControlName="expireDate"
                  [minDate]="Todaydate"
                ></app-date-input>
              </div>
              <div class="col-md-1">
                <label for="quantity">Quantity</label>
                <input
                  (keyup)="handleQuantityChange($event.target.value)"
                  [readonly]="partyData.invalid"
                  type="text"
                  formControlName="quantity"
                  class="form-control"
                  id="quantity"
                  required
                />
                <div class="invalid-feedback">Valid last name is required.</div>
              </div>
              <div class="col-md-1">
                <label for="invQuantity">Inv Qty</label>
                <input
                  [readonly]="partyData.invalid"
                  formControlName="invQuantity"
                  type="text"
                  class="form-control"
                  id="invQuantity"
                  autocomplete="off"
                  required
                  tabindex="-1"
                />
                <div class="invalid-feedback">Valid last name is required.</div>
              </div>
              <div class="col-md-1">
                <label for="freeQuantity">Free Qty</label>
                <input
                  [readonly]="partyData.invalid"
                  formControlName="freeQuantity"
                  type="text"
                  class="form-control"
                  id="freeQuantity"
                  autocomplete="off"
                  required
                  tabindex="-1"
                />
                <div class="invalid-feedback">Valid last name is required.</div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-1">
                <label for="mrp">MRP</label>
                <input
                  [readonly]="partyData.invalid"
                  formControlName="mrp"
                  type="number"
                  class="form-control"
                  id="mrp"
                  required
                  tabindex="-1"
                />
                <div class="invalid-feedback">Valid last name is required.</div>
              </div>
              <div class="col-md-2">
                <label for="partyId">Rate</label>
                <!-- <div class="input-group">
                  <input type="text"  name="rate" class="form-control" [(ngModel)]="model.rate">
                  <div class="input-group-append">
                    <span class="input-group-text">%</span>
                  </div>
                </div> -->
                <input
                  (keyup)="handleRateChange($event.target.value)"
                  formControlName="rate"
                  type="number"
                  [readonly]="partyData.invalid"
                  class="form-control"
                  id="rate"
                  tabindex="-1"
                />
              </div>

              <div class="col-md-1">
                <label for="date">Disc % </label>
                <!-- <code> AMT: {{(this.model.rate * this.model.quantity) * this.model.discount / 100  }}</code> -->

                <input
                  (keyup)="handleDiscountChange($event.target.value)"
                  [readonly]="partyData.invalid"
                  formControlName="discount"
                  type="number"
                  class="form-control"
                  id="discount"
                  tabindex="-1"
                />
                <div class="invalid-feedback">Valid last name is required.</div>
              </div>
              <div class="col-md-2">
                <label for="taxType">O. Discount %</label>
                <!-- <code> AMT: {{(model.otherDiscount * (model.amount * model.quantity))/100  }}</code> -->

                <input
                  (keyup)="handleOtherDiscountChange($event.target.value)"
                  [readonly]="partyData.invalid"
                  formControlName="otherDiscount"
                  type="number"
                  class="form-control"
                  id="otherDiscount"
                  tabindex="-1"
                />
                <div class="invalid-feedback">Valid last name is required.</div>
              </div>
              <div class="col-md-1">
                <label for="taxType">Tax</label>
                <app-tax-input
                  skipIndex="-1"
                  (disabled)="(true)"
                  (onChangeHandler)="handleTaxRateChange($event)"
                  formControlName="Tax"
                ></app-tax-input>
              </div>
              <div class="col-md-2">
                <label for="taxType">Amount</label>
                <input
                  formControlName="Amount"
                  type="number"
                  disabled
                  class="form-control bg-light"
                  id="amount"
                  required
                  tabindex="-1"
                />
                <div class="invalid-feedback">Valid last name is required.</div>
              </div>

              <div class="col-md-2">
                <button
                  [disabled]="this.addPurchaseReturnForm.invalid"
                  class="btn btn-primary btn-block"
                >
                  Add <span class="fa fa-plus"></span>
                </button>
              </div>
            </div>
          </form>
          <!-- /form .needs-validation -->
        </div>
      </div>
      <app-added-product-list
        (EditProduct)="handleEditProduct($event)"
        (DeleteProduct)="handleDeleteProduct($event)"
        [products]="products"
        [MainPostObject]="MainPostObject"
        #finalComponent
      ></app-added-product-list>
      <div class="card invoice">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="submit-section d-flex justify-content-center">
                <button
                  [disabled]="!products.length"
                  (click)="submitSale(finalComponent)"
                  class="btn btn-lg btn-primary btn-block submit-btn ml-1"
                >
                  {{ orderId ? "Update" : "Save" }}
                </button>
              </div>
            </div>
            <div class="col-md-4">
              <app-tax-details-dialog
                [products]="products"
              ></app-tax-details-dialog>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
