<div class="o_home_menu o_search_hidden">

  <div class="o_home_menu_scrollable o_tooltip_parent">
    <div role="listbox" class="o_apps">

      <a [routerLink]="['/parties']" routerLinkActive="router-link-active" class="o_app o_menuitem">
        <div style="background-image: url('../../../assets/contact.png');" class="o_app_icon"></div>
        <div class="o_caption">Parties</div>
      </a>

      <a [routerLink]="['/order/sale']" routerLinkActive="router-link-active" class="o_app o_menuitem">
        <div style="background-image: url('../../../assets/sale.png');" class="o_app_icon"></div>
        <div class="o_caption">Sales</div>
      </a>
      <a target="_blank" [routerLink]="['/pos']" routerLinkActive="router-link-active" class="o_app o_menuitem">
        <div style="background-image: url('../../../assets/POS.png');" class="o_app_icon"></div>
        <div class="o_caption">Point of Sale</div>
      </a>
      <a [routerLink]="['/order/purchase']" routerLinkActive="router-link-active" class="o_app o_menuitem">
        <div style="background-image: url('../../../assets/purchase.png');" class="o_app_icon"></div>
        <div class="o_caption">Purchase</div>
      </a>
      <a [routerLink]="['/branch/products']" routerLinkActive="router-link-active" class="o_app o_menuitem">
        <div style="background-image: url('../../../assets/inventory.png');" class="o_app_icon"></div>
        <div class="o_caption">Inventory</div>
      </a>
      <a href="#menu_id=263&amp;action_id=240" class="o_app o_menuitem">
        <div style="background-image: url('../../../assets/accounting.png');" class="o_app_icon"></div>
        <div class="o_caption">Accounting</div>
      </a>
      <a id="result_app_10" role="option" aria-selected="false" data-menu-xmlid="hr.menu_hr_root"
        href="#menu_id=297&amp;action_id=459" class="o_app o_menuitem">
        <div style="background-image: url('../../../assets/employee.png');" class="o_app_icon"></div>
        <div class="o_caption">Employees</div>
      </a>
      <a id="result_app_11" role="option" aria-selected="false" data-menu-xmlid="hr_expense.menu_hr_expense_root"
        href="#menu_id=317&amp;action_id=474" class="o_app o_menuitem">
        <div style="background-image: url('../../../assets/expence.png');" class="o_app_icon"></div>
        <div class="o_caption">Expenses</div>
      </a>
      <a id="result_app_13" role="option" aria-selected="false" data-menu-xmlid="base.menu_administration"
        href="#menu_id=4&amp;action_id=86" class="o_app o_menuitem">
        <div style="background-image: url('../../../assets/settings.png');" class="o_app_icon"></div>
        <div class="o_caption">Settings</div>
      </a>
    </div>
  </div>
</div>