.datepicker {
  border-right: none;
  &-icon {
    font-family: sans-serif;
    font-size: 1rem;
    height: 30px;
    padding: 0.07rem 0.35rem;
    font-weight: 600;
    line-height: 1.5;
    color: #333;
    border: 1px solid green;
    border-left: none;
  }
  &-icon-picker {
    position: relative;
    bottom: 7px;
    left: 10px;
  }
  &:focus {
    border-color: green;
  }
}
