<!-- <input type="text" id="purchaseDate" placeholder="Datepicker" [textMask]="mask"
  [ngModel]="purchaseDate | date:'MM/dd/yyyy'" (blur)="onBlur()" (change)='todate($event.target.value)'
  class="form-control" name="purchaseDate" autocomplete="off" required> -->
<div class="input-group mb-3">
  <input
    [textMask]="mask"
    [tabindex]="skipIndex"
    [formControl]="DateValue"
    [class.error_message]="!isValidDate"
    placeholder="mm/dd/yyyy"
    (blur)="onBlur()"
    [value]="date | date: 'MM/dd/yyyy'"
    (keyup)="dateChanged($event)"
    autocomplete="off"
    class="form-control datepicker"
  />
</div>
