<div class="container-fluid mt-3">
  <app-pagetitle title="Payment Status" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <form #form="ngForm" (ngSubmit)="loadMembers()" autocomplete="off">
            <div class="row">
              <div class="col-md-3 mb-3">
                <label>FromDate: </label>
                <input type="text" class="form-control" name="fromDate" autocomplete="off"
                  [(ngModel)]="userParams.fromDate" bsDatepicker [bsValue]="userParams.fromDate"
                  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
              </div>
              <div class="col-md-3 mb-3">
                <label>To Date: </label>
                <input type="text" class="form-control" name="toDate" autocomplete="off" [(ngModel)]="userParams.toDate"
                  bsDatepicker [bsValue]="userParams.toDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
              </div>
              <div class="col-md-3 mb-3">
                <label for="keywordParty">Party</label>
                <div class="ng-autocomplete">
                  <ng-autocomplete [data]="dataParty" [searchKeyword]="keywordParty"
                    (selected)='selectPartyEvent($event)' (inputChanged)='getPartyServerResponse($event)'
                    (inputFocused)='onPartyFocused($event)' [itemTemplate]="partyTemplate"
                    (inputCleared)="searchPartyCleared()" [notFoundTemplate]="notFoundTTemplate" [debounceTime]="600"
                    [isLoading]="isLoadingResultParty" [minQueryLength]="1" placeHolder="Search Party. eg 'Name'"
                    required>
                  </ng-autocomplete>

                  <ng-template #partyTemplate let-item>
                    <a href="javascript:void(0)">
                      <div class="row">
                        <div class="col-10">
                          <span [innerHTML]="item.name"></span>
                        </div>
                      </div>
                    </a>
                  </ng-template>

                  <ng-template #notFoundTTemplate let-notFound>
                    No data found
                  </ng-template>
                </div>
              </div>
              <div class="col-md-3 mb-3 pt-4">
                <button class="btn btn-primary ml-1" type="submit">Apply Filters</button>
                <button (click)="resetFilters()" class="btn btn-info ml-1" type="button">Reset Filters</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="dataReport">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Payment Report: <strong>From Date: {{userParams.fromDate}} - To Date:
              {{userParams.toDate}}</strong> </h5>
          <div class="table-responsive mt-3">
            <table class="table table-centered table-bordered datatable dt-responsive nowrap table-hover table-sm"
              style="border-collapse: collapse; border-spacing: 0; width: 100%;">
              <thead class="thead-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Date</th>
                  <th scope="col">Party</th>
                  <th scope="col">Invoice</th>
                  <th scope="col">Type</th>
                  <th scope="col">Debit</th>
                  <th scope="col">Credit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dataReport; let i = index">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{item.created |date: 'dd-MM-yyyy'}}</td>
                  <td>{{item.partyName}}</td>
                  <td>{{item.invoiceNo}}</td>
                  <td>{{item.type}}</td>
                  <td>{{item.amount.toFixed(2)}}</td>
                  <td>{{item.amount.toFixed(2)}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>