<div class="container-fluid">
  <app-pagetitle
    title="Purchase Invoice"
    [breadcrumbItems]="breadCrumbItems"
  ></app-pagetitle>

  <div class="row">
    <div class="col-lg-12">
      <!-- <pre class="card card-block card-header ">Model: {{search | json}}</pre>
      <pre class="card card-block card-header ">Selected option: {{selectedOption | json}}</pre>
      <input [(ngModel)]="search" typeaheadOptionField="productName" [typeahead]="suggestions$"
        (typeaheadLoading)="changeTypeaheadLoading($event)" [typeaheadAsync]="true"
        (typeaheadOnSelect)="onSelect($event)" class="form-control" placeholder="Enter GitHub username">

      <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
        {{ errorMessage }}
      </div> -->
      <div class="card">
        <div class="card-body">
          <form
            [formGroup]="addPurchaseForm"
            id="editForm"
            (ngSubmit)="AddProduct()"
            novalidate
          >
            <div class="form-row border-bottom">
              <div class="col-md-2">
                <label for="invoiceNo">Invoice Number</label>
                <input
                  autofocus
                  type="text"
                  formControlName="invoiceNo"
                  class="form-control"
                  autocomplete="off"
                  required
                />
              </div>
              <div class="col-md-2">
                <label for="invoiceNo">Branch</label>
                <select
                  class="custom-select"
                  tabindex="-1"
                  formControlName="branch"
                  required
                >
                  <option *ngFor="let role of branches" [ngValue]="role.id">
                    {{ role.name }}
                  </option>
                </select>
              </div>
              <div class="col-md-3">
                <div style="display: flex; justify-content: space-between">
                  <label for="partyId">Party Item</label>
                  <div
                    style="cursor: context-menu"
                    *ngIf="partyData.valid"
                    mat-raised-button
                    matTooltipPosition="above"
                    matTooltip="Party Info"
                    aria-label="Button that displays a tooltip when focused or hovered over"
                    (click)="openModal(template)"
                  >
                    <mat-icon aria-hidden="false" aria-label="Example home icon"
                      >info</mat-icon
                    >
                  </div>
                </div>
                <app-party-input
                  (onChangeHandler)="onChangeParty($event)"
                  formControlName="party"
                >
                </app-party-input>
              </div>

              <div class="col-md-2">
                <label for="purchaseDate">P. Date</label>
                <!-- <input type="text" id="purchaseDate" placeholder="Datepicker" [textMask]="mask"
                  [ngModel]="purchaseDate | date:'MM/dd/yyyy'" (blur)="onBlur()" (change)='todate($event.target.value)'
                  class="form-control" name="purchaseDate" autocomplete="off" required> -->
                <app-date-input
                  skipIndex="-1"
                  formControlName="PDate"
                ></app-date-input>
              </div>

              <div class="col-md-2">
                <label for="taxType">Tax Type</label>
                <select
                  class="custom-select"
                  tabindex="-1"
                  formControlName="TaxType"
                  required
                >
                  <option *ngFor="let item of taxTypeList" [ngValue]="item">
                    {{ item }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-row pt-1">
              <div class="col-md-4">
                <label for="partyId">Product Item</label>

                <app-product-input
                  [disabled]="partyData.invalid"
                  (onChangeHandler)="onChangeProduct($event)"
                  formControlName="productData"
                >
                </app-product-input>
              </div>

              <div class="col-md-3">
                <label for="date">Batch Number</label>
                <input
                  type="text"
                  formControlName="batchNumber"
                  class="form-control"
                  required
                />
                <div class="invalid-feedback">Valid last name is required.</div>
              </div>
              <div class="col-md-2">
                <label for="expireDate">Expire Date</label>

                <app-date-input formControlName="expireDate"></app-date-input>
              </div>

              <div class="col-md-1">
                <label for="mrp">MRP</label>
                <input
                  type="number"
                  formControlName="mrp"
                  class="form-control"
                  min="0"
                  required
                />
                <div class="invalid-feedback">Valid last name is required.</div>
              </div>

              <div class="col-md-1">
                <label for="quantity">Quantity</label>
                <input
                  type="number"
                  (keyup)="handleQuantityChange($event.target.value)"
                  formControlName="quantity"
                  min="0"
                  class="form-control"
                  required
                />
                <div class="invalid-feedback">Valid last name is required.</div>
              </div>

              <div class="col-md-1">
                <label for="schQuantity">SCH Qty</label>
                <input
                  type="number"
                  tabindex="-1"
                  formControlName="schQuantity"
                  min="0"
                  class="form-control"
                  autocomplete="off"
                  required
                />
                <div class="invalid-feedback">Valid last name is required.</div>
              </div>
            </div>

            <div class="form-row">
              <div class="col-md-2">
                <label for="partyId"
                  >Rate
                  <code *ngIf="taxSaleMargin">M.Rate: {{ taxSaleMargin }}</code>
                </label>
                <input
                  type="number"
                  (keyup)="handleRateChange($event.target.value)"
                  formControlName="rate"
                  class="form-control"
                />
              </div>
              <div class="col-md-2">
                <label for="date">Discount % </label>

                <input
                  type="number"
                  tabindex="-1"
                  (keyup)="handleDiscountChange($event.target.value)"
                  formControlName="discount"
                  class="form-control"
                />
                <div class="invalid-feedback">Valid last name is required.</div>
              </div>
              <div class="col-md-2">
                <label for="taxType">O. Discount %</label>

                <input
                  type="number"
                  tabindex="-1"
                  (keyup)="handleOtherDiscountChange($event.target.value)"
                  formControlName="OtherDiscount"
                  class="form-control"
                />
                <div class="invalid-feedback">Valid last name is required.</div>
              </div>
              <div class="col-md-2">
                <label for="taxType">Tax</label>
                <select
                  class="custom-select"
                  tabindex="-1"
                  (change)="handleTaxRateChange($event.target.value)"
                  formControlName="Tax"
                  required
                >
                  <option *ngFor="let item of taxes" [ngValue]="item.id">
                    {{ item.name }}
                  </option>
                </select>
              </div>
              <div class="col-md-1">
                <label for="taxType">Amount</label>
                <input
                  type="number"
                  tabindex="-1"
                  readonly
                  formControlName="Amount"
                  class="form-control"
                  required
                />
                <div class="invalid-feedback">Valid last name is required.</div>
              </div>

              <div class="col-md-2 pt-3">
                <button
                  class="btn btn-primary btn-block mt-2"
                  [disabled]="this.addPurchaseForm.invalid"
                >
                  Add <span class="fa fa-plus"></span>
                </button>
              </div>
            </div>
          </form>
          <!-- /form .needs-validation -->
          <!-- this is template for party information modal   -->
          <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Party info</h4>
              <button
                type="button"
                class="close pull-right"
                aria-label="Close"
                (click)="modalRef.hide()"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div *ngIf="partyData.valid" class="modal-body">
              <div>Name: {{ partyMoreInfo.name }}</div>
              <div>Phone: {{ partyMoreInfo.mobile }}</div>
              <div>gstin: {{ partyMoreInfo.gstin }}</div>
            </div>
          </ng-template>
          <!-- this is template for party information modal   -->
        </div>
      </div>
      <app-added-product-list
        [updateFinal]="updateFinal"
        (EditProduct)="handleEditProduct($event)"
        (DeleteProduct)="handleDeleteProduct($event)"
        [products]="products"
        [MainPostObject]="MainPostObject"
        #finalComponent
      ></app-added-product-list>

      <div class="card invoice">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="submit-section d-flex justify-content-center">
                <button
                  [disabled]="!products.length"
                  (click)="submitPurchase(finalComponent)"
                  class="btn btn-lg btn-primary btn-block submit-btn ml-1"
                >
                  {{ orderId ? "Update" : "Save" }}
                </button>
              </div>
            </div>
            <div class="col-md-4">
              <app-tax-details-dialog
                [products]="products"
              ></app-tax-details-dialog>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
